.buyButton {
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  font-family: monospace;
  outline: none;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 20px;
  background-color: #009688;
  color: #fff;
  border: none; }
  .buyButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #13746a; }

.cartItems {
  list-style-type: none;
  width: 89%; }
