main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px; }

header {
  background: url("http://karmaagency.com/media/1417/nike_mercurial_960x425_r1.jpg?width=960&mode=max");
  width: 100%;
  height: 420px;
  background-repeat: no-repeat;
  background-position: center; }
